.background{
  background: url('../../public/Images/five.jpeg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile Card */
.profile-card {
  width: 350px;
  background: white;
  
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 18vh;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  text-align: center;
}

/* Profile Image */
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-top: -60px;
}

/* Name & Role */
.profile-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.profile-role {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

/* Bio */
.profile-bio {
  font-size: 15px;
  margin: 10px 0;
  color: #333;
}

/* Social Links */
.social-links a {
  margin: 0 10px;
  color: #0077ff;
  text-decoration: none;
  font-weight: bold;
}

.social-links {
  margin-bottom: 20px;
}

/* Buttons */
.profile-actions .btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #0077ff;
  color: white;
  font-size: 14px;
}

.profile-actions .outline {
  background: white;
  color: #0077ff;
  border: 2px solid #0077ff;
}
